@import '../../variables';

$error-color: orange;

.container {
  padding: $size-gutter;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $half-unit * 2;
}

.edit-pane,
.article-pane {
  border: solid 1px $color-border;
}

.edit-pane {
  display: flex;
  flex-direction: column;
  padding: $half-unit;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.article-pane {
  padding-left: 10px;
}

.article-pane {
  background: $color-white;
  padding: $size-gutter;
  overflow-y: scroll;
}

.edit-label {
  display: block;
  font-size: 18px;
}

.edit-summary-pane {
  resize: vertical;
}

.edit-body-pane {
  resize: vertical;
  min-height: 200px;
}

textarea {
  resize: vertical;
}


