<div class="cta-bar">
  <button class="button" [disabled]="disableSave$ | async" (click)="saveEdit()">
    Save&nbsp;edit
  </button>
  <div class="spinner">
    <app-spinner-component *ngIf="showLoader$ | async"></app-spinner-component>
  </div>
</div>

<div class="outer-container">
  <div class="container">
    <ng-container *ngIf="article$">
      <div [formGroup]="formGroup" class="edit-pane">
        <div class="input-container">
          <label for="edit-title" class="label">Title</label>
          <input id="edit-title" formControlName="title" class="input" />
        </div>

        <div class="input-container">
          <label for="edit-summary" class="label">summary</label>
          <textarea
            id="edit-summary"
            formControlName="summary"
            class="input"
          ></textarea>
        </div>

        <div class="input-container">
          <label for="edit-body" class="label">body text</label>
          <textarea
            id="edit-body"
            data-test="edit-pane"
            formControlName="body"
            class="input"
          ></textarea>
        </div>

        <div class="">
          <app-cms-checkbox
            formControlName="published"
            cbId="published"
            label="published"
          ></app-cms-checkbox>
        </div>

        <div class="select-tags-container">
          <p class="select-tags-caption">tags</p>

          <div formArrayName="tags">
            <div
              class="checkbox"
              *ngFor="let tag of mytags.controls; let i=index"
            >
              <app-cms-checkbox
                [formControlName]="i"
                [cbId]="i"
                [label]="articleService.tagData[i]"
              ></app-cms-checkbox>
            </div>
          </div>
          <p
            class="select-tags-error-message"
            [class.select-tags-error-message__hidden]="mytags.valid"
          >
            You may not select more than 3 tags.
          </p>
        </div>
      </div>

      <div class="article-pane">
        <h2 class="article-header">{{(article$|async)?.title}}</h2>

        <div
          class="article-summary"
          [innerHTML]="(article$|async)?.summary | markdownToHTML"
        ></div>

        <div
          class="article-content"
          [innerHTML]="(article$|async)?.body | markdownToHTML"
        ></div>
      </div>
    </ng-container>
  </div>
</div>
