@import '../../variables';

:host {
  display: block;
}

.cms-article-container {
  padding: $half-unit;
}

.cms-content {
  background: $color-white;
  margin: $half-unit;
  margin-top: 0;
  border-radius: $border-radius;
  padding-top: 20px;
  padding-bottom: 20px;
}

