<app-menu
  [showCreateArticleButton]="true"
  >

  <button
    class="button"
     data-test="edit-article-button"
     [routerLink]="['/edit-article', article?.id]">edit article</button>

</app-menu>

<div class="cms-article-container" data-test="article-page" *ngIf="article">

  <div class="cms-content">
    
    <h2 class="article-header">{{article.title}}</h2>

    <div
      class="article-summary"
      [innerHTML]="article.summary | markdownToHTML"
      ></div>

    <div
      class="article-content"
      [innerHTML]="article.body | markdownToHTML"
      ></div>
  </div>
</div>

