@import '../variables';
.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.content {
  overflow-y: scroll;
}

.header {
  background: lighten($base-color, 30%);
  color: white;
  padding: 20px;
}
