<div>Styles page</div>

<h2>Buttons</h2>
<button class="button">hello world</button>
<button class="button">another button</button>

<h2>Checkboxes</h2>

<form #form="ngForm">
  <cms-checkbox cbId="foo" [ngModel]="true" name="foo" label="this is foo"></cms-checkbox>
  <cms-checkbox cbId="bar" [ngModel]="false" name="bar" label="this is bar"></cms-checkbox>
</form>

<pre>
{{ form.value | json }}
</pre>

<form>
  <cms-checkbox [formControl]="blahFormControl" cbId="blah" label="this is reactive form control"></cms-checkbox>
</form>
<pre>
{{ blahFormControl.value | json }}
</pre>

<div [formGroup]="formGroup">
  <div formArrayName="tags">
    <div class="checkbox"
      *ngFor="let tag of mytags.controls; let i=index"
      >
      <cms-checkbox [formControlName]="i" cbId={{i}} label="ssssfsfsf"></cms-checkbox>
    </div>
  </div>
</div>

<pre>
{{ formGroup.value | json }}
</pre>
