@import './reset';
@import './variables';
/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  font-family: helvetica;
}

body {
  padding: 10px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.button {
  appearance: none;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to top, lighten($base-color, 30%), lighten($base-color, 40%));
  border-radius: 5px;
  border: solid 1px lighten($base-color, 20%);
  color: lighten(black, 15%);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 20px;
}

