@import '../../styles';
.links {
  padding: 20px;
}

.link {
  background: $color-light-blue;
  border-radius: $border-radius;
  display: grid;
  grid-template-columns: 1fr auto auto;
  margin-bottom: $size-gutter-small;
  padding: 20px;

  &:last-child {
    border-bottom: none;
  }
}

.button {
  margin: 0 10px;
}
