@import '../../styles';
.links {
  padding: 20px;
}

.link {
  background: $color-light-blue;
  border-radius: $border-radius;
  margin-bottom: $size-gutter-small;
  padding: 20px;
  display: flow-root;

  &:last-child {
    border-bottom: none;
  }
}

.button-panel {
  float: right;
}

.button {
  margin: 0 10px;
}
