@import '../../styles';
@import '../../variables';

.links {
  padding: 20px;
}

.link {
  background: white;
  margin-bottom: $size-gutter-small;
  padding: 20px;
  display: flow-root;

  &:last-child {
    border-bottom: none;
  }
}

.link.unsaved {
  background: lighten($unsaved-color, 30%);
}

.button-panel {
  float: right;
}

.button {
  margin: 0 10px;
}
