
@import '../../variables';
.container {
  padding: $size-gutter;
  display: grid;
  column-gap: $size-gutter;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "menu menu" "etc ap" "esc ap" "ebc ap";
}

.menu {
  display: flex;
  grid-area: menu;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  margin-bottom: $size-gutter;

  > div:last-child {
    margin-left: $size-gutter;
    flex-grow: 1;
  }
}

.edit-title-container,
.edit-body-container,
.edit-summary-container {
  border-radius: $border-radius;
  background: lighten($base-color, 60%);
  padding: $size-gutter-small;
  margin-bottom: $size-gutter-small;
}

.edit-title-container {
  grid-area: etc;
}

.edit-summary-container {
  grid-area: esc;
}

.edit-body-container {
  grid-area: ebc;
  margin-bottom: 0;
}

.button {
  margin-right: $size-gutter-small;

  &:last-child {
    margin-right: 0;
  }
}
.article-pane {
  grid-area: ap;
  background: $color-white;
  padding: $size-gutter;
  overflow-y: scroll;
  border-radius: $border-radius;
}

.edit-label {
  display: block;
  font-size: 18px;
  padding: $size-gutter-small 0;
}

.edit-title-input,
.edit-summary-pane,
.edit-body-pane {
  font-family: courier;
  border: none;
  background: lighten($base-color, 70%);
  width: 100%;
  border: solid 2px lighten($base-color, 30%);
  padding: $size-gutter-small;
  border-radius: $border-radius;
  vertical-align: middle;

  @include focus-input();
}

.edit-summary-pane {
  resize: vertical;
}

.edit-body-pane {
  resize: vertical;
  min-height: 200px;
}

