@import '../../variables';

$error-color: orange;

.container {
  padding: $size-gutter;
  display: flex;
}

.edit-pane,
.article-pane {
  width: 50%;
}

.edit-pane {
  padding-right: 10px;
}

.article-pane {
  padding-left: 10px;
}

.edit-title-container,
.edit-body-container,
.edit-summary-container,
.select-tags-container {
  border-radius: $border-radius;
  background: $color-light-blue;
  padding: $size-gutter-small;
  margin-bottom: $size-gutter-small;
}

.select-tags-container {
  margin-bottom: 0;
}

.select-tags-error-message {
  color: $error-color;
  padding: 0 0 5px 0;
}

.select-tags-error-message__hidden {
  visibility: hidden;
}

.button {
  margin-right: $size-gutter-small;

  &:last-child {
    margin-right: 0;
  }
}
.article-pane {
  background: $color-white;
  padding: $size-gutter;
  overflow-y: scroll;
  border-radius: $border-radius;
}

.select-tags-caption {
  display: block;
  font-size: 18px;
  padding: $size-gutter-small 0;
}

.edit-label {
  display: block;
  font-size: 18px;
  padding: $size-gutter-small 0;
}

.edit-title-input,
.edit-summary-pane,
.edit-body-pane {
  font-family: courier;
  border: none;
  background: lighten($base-color, 70%);
  width: 100%;
  border: solid 2px lighten($base-color, 30%);
  padding: $size-gutter-small;
  border-radius: $border-radius;
  vertical-align: middle;

  @include focus-input();

  &.ng-invalid.ng-dirty {
    border-color: $error-color;
  }
}

.edit-summary-pane {
  resize: vertical;
}

.edit-body-pane {
  resize: vertical;
  min-height: 200px;
}

.checkbox {
  font-size: 20px;
  line-height: 30px;

  > input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

  > label:not(.box) {
    vertical-align: middle;
    margin-right: 10px;
  }



  > label.box {
    background: white;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    width: 1em;

    &::before,
    &::after {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
    }

    &::before {
      content: '';
      height: 1em;
      width: 1em;
      border: solid 0.16em lighten($base-color, 30%);
      border-radius: 0.08em;
    }


    &::after {
      left: 0.32em;
      top: 0.32em;
      width: 0.36em;
      height: 0.36em;
      background: lighten($base-color, 40%);
    }

    > [type="checkbox"]:checked + label::after {
        content: "";
    }

  }


  > [type="checkbox"]:checked + label::after {
      content: "";
  }

  .ng-invalid > & {
    label::before {
      border-color: $error-color;
    }

    label::after {
      background-color: $error-color;
    }
  }
}

