<app-menu
  [showCreateArticleButton]="false"
  >

  <button
    *ngIf="hasUnsavedChanges"
    [disabled]="formGroup.invalid"
    class="button"
    data-test="save-button"
    (click)="saveEdit()">Save&nbsp;edit</button>


  <button
    class="button"
    (click)="delete()">Delete&nbsp;article</button>

</app-menu>


<div
  data-test="edit-article-page"
  class="container">

  <ng-container *ngIf="article">
    <div [formGroup]="formGroup" class="edit-pane">
      <div class="edit-title-container">
        <label
          for="edit-title"
          class="edit-label">Title</label>
        <input
          id="edit-title"
          formControlName="title"
          class="edit-title-input"/>
      </div>

      <div class="edit-summary-container">
        <label for="edit-summary" class="edit-label">summary</label>
        <textarea
          id="edit-summary"
          formControlName="summary"
          class="edit-summary-pane"></textarea>
      </div>

      <div class="edit-body-container">
        <label
          for="edit-body"
          class="edit-label">body text</label>
        <textarea 
          id="edit-body"
          data-test="edit-pane"
          formControlName="body"
          class="edit-body-pane"
          ></textarea>
      </div>


      <div class="select-tags-container">
        <p class="select-tags-caption">Select up to 3 tags to associate with this article</p>
        <p
           class="select-tags-error-message"
           [class.select-tags-error-message__hidden]="mytags.valid"
           >
           You may not select more than 3 tags.
        </p>

        <div formArrayName="tags">
          <div class="checkbox"
            *ngFor="let tag of mytags.controls; let i=index"
            >
            <label
              [for]="i">{{articleService.tagData[i]}}</label>

            <input
              [id]="i"
              [formControlName]="i"
              type="checkbox"/>

            <label
              [for]="i"
              class="box"></label>
          </div>
        </div>

      </div>
    </div>

    <div class="article-pane">
      <h2 class="article-header">{{article.title}}</h2>

      <div
        class="article-summary"
        [innerHTML]="article.summary | markdownToHTML"
        ></div>

      <div
        class="article-content"
        [innerHTML]="article.body | markdownToHTML"
        ></div>

    </div>
  </ng-container>
</div>
